$mobile: 640px;

$darkGrey: #808080;
$white: #FFFFFF;
$black: #474747;
$crem: #DE8E8E;

.item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  height: 500px;
  width: 100%;

  background-color: $white;
}

.image {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}


.body {
  margin-right: auto;
  height: 100%;
  padding: 8px 16px;

  a {
    text-decoration: none;
  }

  h4{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
  }

  p {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
  }
}

.footer {
  margin-top: 10px;
  padding: 14px;

  border-top: 2px solid #F1F1F1;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;

  p {
    font-size: 14px;
  }
}

@media(max-width: $mobile) {
  .item {
    max-width: none;
    widows: none;
  }

  .body {
    width: 100%;
  }
}