$mobile: 640px;

$ligthGrey: #F1F1F1;
$darkGrey: #808080;
$white: #FFFFFF;
$black: #474747;
$crem: #DE8E8E;

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: $black;
  color: $white;

  a{
    color: $white;
  }
}

.email {
  color: $ligthGrey;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    color: $crem;
  }
}

.icon {
  font-size: 2rem;
  
  &:hover {
    cursor: pointer;
    animation: leftright 1s ease;
  }
}

.logo {
  font-weight: 700;
}

@keyframes leftright {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(0);
  }
}