.navigation {
  padding: 0;
  margin: 0 auto;
  
  max-width: 1000px;
  width: 100%;

  ul li {
    display: inline;
    text-align: center;
  }


  h3 {
    font-family: 'Roboto';
    font-weight: 700;
  }

  a {
    margin: 0 1em;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.8em;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
  }

  hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
  }

}

.mrAuto {
  margin-right: auto !important;
}


