$mobile: 640px;

$ligthGrey: #F1F1F1;
$darkGrey: #808080;
$white: #FFFFFF;
$black: #474747;
$crem: #DE8E8E;

.layout {
  background-color: $white;
  padding-top: 0;
  padding-bottom: 4em;
}

.container {
  display: flex;
}

.bar {
  display: inherit;
  flex-direction: row;
  padding: 0 20px;
  margin: 3rem 0;
  
  P {
    margin: auto 0.3em auto 0;
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $darkGrey;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;

  list-style-type: none;
  padding-left: 0;

  li {
    margin: 1rem;
  }
}

@media (max-width: $mobile) {
  .list {
    li {
      width: 100%;
    }
  }
}
